
@{
    ViewBag.Title = "Show";
}

<h2>@ViewBag.Title</h2>

<h1>@ViewBag.Article.Title</h1>
<p>@ViewBag.Article.Content</p>
<small>@ViewBag.Article.Date.ToString()</small>

<br />

<a href="/Articles/listare">Inapoi la articole</a>

<br />
