
@{
    ViewBag.Title = "New";
}

<h2>Adaugare articol</h2>

<form method="post" action="/Articles/New">
    <label>Titlu articol</label>
    <br />
    <input type="text" name="Title" />
    <br />

    <label>Continut articol</label>
    <br />
    <textarea type="text" name="Content"></textarea>
    <br />

    <input type="hidden" name="Date" value="@DateTime.Now" />
    <br />

    <label>Selectati categoria</label>
    <br />
    <select name="CategoryId">
        @foreach (var category in ViewBag.Categories)
        {
            <option value="@category.CategoryId">@category.CategoryName</option>
        }
    </select>
    <br />
    <br />

    <button type="submit">Adauga articol</button>
</form>