@{ 
    ViewBag.Title = "Index";
 }
<h1>@ViewBag.Message</h1>

<h2>News</h2>
<a class="btn btn-primary" href="/Categories/Index">Afisare categorii</a>
<a class="btn btn-primary" href="/Articles/New">Adauga articol</a>
<br />
@foreach (IncercareCuBd.Models.Article article in ViewBag.Articles)
{
    <div class="panel panel-default">
       @Html.Partial("ArticleInfo", article)
        <div class="panel-footer">
            <a class="btn btn-sm btn btn-success" href="/Articles/Show/@article.Id">
                Afisare articol
            </a>
        </div>
    </div>
}
